<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.jdt.core.javaFormatter">
   <javaFormatter
         class="com.google.googlejavaformat.java.GoogleJavaFormatter"
         id="com.google.googlejavaformat.java.GoogleJavaFormatter"
         name="Google Java Formatter (1.3-SNAPSHOT)">
   </javaFormatter>
   </extension>
</plugin>
