name: Release on GitHub

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v5

      - name: "Set up JDK 25 from Zulu"
        uses: actions/setup-java@v4
        with:
          java-version: 25
          distribution: "zulu"

      - name: Build with Maven
        run: mvn verify -DskipTests=true -Dmaven.javadoc.skip=true -B -V

      - uses: ncipollo/release-action@v1
        with:
          artifacts: "core/target/configurable-java-format-*.*"
          bodyFile: "cjf-release.md"
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}