name: Release google-java-format

on:
  workflow_dispatch:
    inputs:
      version:
        description: "version number for this release."
        required: true

jobs:
  build-maven-jars:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Setup Signing Key
        run: |
          gpg-agent --daemon --default-cache-ttl 7200
          echo -e "${{ secrets.GPG_SIGNING_KEY }}" | gpg --batch --import --no-tty
          echo "hello world" > temp.txt
          gpg --detach-sig --yes -v --output=/dev/null --pinentry-mode loopback --passphrase "${{ secrets.GPG_PASSPHRASE }}" temp.txt
          rm temp.txt
          gpg --list-secret-keys --keyid-format LONG
          
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'zulu'
          cache: 'maven'
     
      - name: Bump Version Number
        run: |
          mvn --no-transfer-progress versions:set versions:commit -DnewVersion="${{ github.event.inputs.version }}"
          git ls-files | grep 'pom.xml$' | xargs git add
          git config --global user.email "gh-actions@github.com"
          git config --global user.name "GitHub Actions"
          git commit -m "Release google-java-format ${{ github.event.inputs.version }}"
          git remote set-url https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/google/google-java-format.git
          git push

      - name: Build Jars
        run: mvn --no-transfer-progress clean verify gpg:sign -DskipTests=true -Dgpg.passphrase="${{ secrets.GPG_PASSPHRASE }}"

      - name: Add Jars to Release Entry
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          name: ${{ github.event.input.version }} 
          tag_name: "v${{ github.event.inputs.version }}"
          files: core/target/google-java-format-*.jar
